<section>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <!-- 1st card -->
                    <div class="card swiper-slide">
                        <div class="image-content">
                            

                            <div class="card-image">
                                <img src="/assets/IMAGES/Payment.png" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Payments</h2>
                            <p class="description">Accelerating digital payment adoption.</p>

                            <a href="" class="buttonservi"> View More <img src="/assets/IMAGES/arrow-icon-design-free-png.webp" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 2nd card -->
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/assets/IMAGES/Lending.png" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Lendings</h2>
                            <p class="description">Ushering digitalization and embedded finance.</p>

                            <a href="" class="buttonservi"> View More <img src="/assets/IMAGES/arrow-icon-design-free-png.webp" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 3rd card -->
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/assets/IMAGES/Cards.png" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Digitalization</h2>
                            <p class="description">Enabling progressive cards initiatives.</p>

                            <a href="" class="buttonservi"> View More <img src="/assets/IMAGES/arrow-icon-design-free-png.webp" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 4th card  -->
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/assets/IMAGES/Cards.png" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Application</h2>
                            <p class="description">Enabling progressive cards initiatives.</p>

                            <a href="" class="buttonservi"> View More <img src="/assets/IMAGES/arrow-icon-design-free-png.webp" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 5th card-->
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/assets/IMAGES/Cards.png" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Wavemaker</h2>
                            <p class="description">Enabling progressive cards initiatives.</p>

                            <a href="" class="buttonservi"> View More <img src="/assets/IMAGES/arrow-icon-design-free-png.webp" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 6th card-->
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/assets/IMAGES/Cards.png" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Cards</h2>
                            <p class="description">Enabling progressive cards initiatives.</p>

                            <a href="" class="buttonservi"> View More <img src="/assets/IMAGES/arrow-icon-design-free-png.webp" alt="arrow"></a>
                        </div>
                    </div>
                    
                  
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
        
    </section>