
<div class="" style="padding: 0;">
    <div class="containerwhoareu ">
    <div class="content">
        <h3 class="who1">Who We Are?</h3>
        <h1 class="who2">Boost your</h1>
        <h1 class="who3">Business With Us</h1>
        <h5 class="who4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</h5>
        <a href="#" class="buttonwhoare">Know more <img src="/assets/IMAGES/arrow-icon-design-free-png.webp" alt="Arrow Icon" width="20"></a>
      </div>
      <div class="whoareuimg">
        <img src="/assets/IMAGES/who are u.png" alt="Your Image" width="100%">
      </div>
    
    </div>
  </div>
